# 多票AIRWAY BILL 混合申报

In [1]:
import xlwings as xw
import numpy as np
import pandas as pd
from random import randint

In [3]:
wb = xw.Book(r'C:\Users\Xiaodong\Desktop\包税程序设计\重量计算流程及相关文件\重量计算流程及相关文件\混合申报计算流程.xlsx')

# Creat a new workbook to output the results

In [4]:
wb2 = xw.Book()

sht1 = wb2.sheets.active

In [5]:
shtA = wb.sheets[0]    #worksheet A

In [68]:
df = shtA.range('A2:AC202').options(pd.DataFrame).value

In [46]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 200 entries, 1.0 to 200.0
Data columns (total 28 columns):
提单号                200 non-null object
分单号                200 non-null float64
MARKS & NO         164 non-null object
原英文品名              200 non-null object
修改后英文品名            200 non-null object
原中文品名              200 non-null object
修改后中文品名            200 non-null object
型号                 200 non-null object
MATERIAL           200 non-null object
USAGE              200 non-null object
QTY                200 non-null float64
ORIGINAL GW        180 non-null float64
STEP1              200 non-null float64
STEP2              200 non-null float64
STEP3              200 non-null float64
STEP4              200 non-null float64
N.W (KG)           200 non-null float64
CTN                164 non-null float64
币别(GBP)            200 non-null float64
币别(GBP)            200 non-null float64
HS CODE            200 non-null float64
DUTY RATE          200 non-null float64
DUTY               200 non-null object
S-C                200 non-null object
ASIN CODE          200 non-null object
SELLING RATE       200 non-null object
SHIIPING WEIGHT    200 non-null float64
LINK               200 non-null object
dtypes: float64(14), object(14)
memory usage: 45.3+ KB

In [73]:
df['提单号'] = df['提单号'].astype('category')

df['HS CODE'] = df['HS CODE'].astype(str).astype('category')

# df['HS CODE'] = df['HS CODE'].apply(lambda s: s[:-2])  # remove the '.0' on HS CODE,

df['分单号'] = df['分单号'].astype('category')

In [57]:
df['HS CODE'].dtype

CategoricalDtype(categories=['3910000090.0', '3919908099.0', '3924900090.0',
                  '3925908000.0', '3926100000.0', '3926300090.0',
                  '3926909790.0', '4201000090.0', '4202121900.0',
                  '4202310090.0', '4202929190.0', '4202929890.0',
                  '4419120000.0', '4420101900.0', '4421999999.0',
                  '4820103000.0', '5602290090.0', '5607509099.0',
                  '5607909090.0', '6704190000.0', '6802999090.0',
                  '7010909100.0', '7013990090.0', '7323930090.0',
                  '8205100000.0', '8205200000.0', '8205510000.0',
                  '8205598000.0', '8205909000.0', '8214200000.0',
                  '8304000000.0', '8308900090.0', '8471607000.0',
                  '8471709800.0', '8471800000.0', '8504318090.0',
                  '8504409090.0', '8512909000.0', '8539500000.0',
                  '8543709099.0', '8544499500.0', '8708109090.0',
                  '8708999790.0', '8714104000.0', '8714109090.0',
                  '9021109000.0', '9105190000.0', '9113200000.0',
                  '9405409990.0', '9505900000.0', '9506919000.0',
                  '9609909000.0'],
                 ordered=False)

In [40]:
df['HS CODE'].unique()

[8.70811e+09, 8.709e+09, 8.51291e+09, 8.71411e+09, 8.7141e+09, ..., 9.1132e+09, 4.41912e+09, 8.4718e+09, 8.47171e+09, 9.02111e+09]
Length: 53
Categories (53, object): [8.70811e+09, 8.709e+09, 8.51291e+09, 8.71411e+09, ..., 4.41912e+09, 8.4718e+09, 8.47171e+09, 9.02111e+09]

In [34]:
s[:-2]

'hel'

In [35]:
s

'hello'

In [54]:
df['HS CODE'] = df['HS CODE'].astype(str).astype('category')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 200 entries, 1.0 to 200.0
Data columns (total 28 columns):
提单号                200 non-null category
分单号                200 non-null category
MARKS & NO         164 non-null object
原英文品名              200 non-null object
修改后英文品名            200 non-null object
原中文品名              200 non-null object
修改后中文品名            200 non-null object
型号                 200 non-null object
MATERIAL           200 non-null object
USAGE              200 non-null object
QTY                200 non-null float64
ORIGINAL GW        180 non-null float64
STEP1              200 non-null float64
STEP2              200 non-null float64
STEP3              200 non-null float64
STEP4              200 non-null float64
N.W (KG)           200 non-null float64
CTN                164 non-null float64
币别(GBP)            200 non-null float64
币别(GBP)            200 non-null float64
HS CODE            200 non-null category
DUTY RATE          200 non-null float64
DUTY               200 non-null object
S-C                200 non-null object
ASIN CODE          200 non-null object
SELLING RATE       200 non-null object
SHIIPING WEIGHT    200 non-null float64
LINK               200 non-null object
dtypes: category(3), float64(12), object(13)
memory usage: 44.6+ KB

In [43]:
import sys

In [44]:
sys.maxsize

9223372036854775807

In [59]:
l = lambda s: s[:-2]

In [60]:
s = 'Hello'

In [64]:
df['HS CODE']

序号
1.0      8708109090
2.0      8708999790
3.0      8512909000
4.0      8708999790
5.0      8714109090
6.0      8714104000
7.0      8471607000
8.0      4202929190
9.0      8543709099
10.0     8543709099
11.0     8543709099
12.0     8544499500
13.0     8544499500
14.0     9506919000
15.0     9506919000
16.0     8504409090
17.0     8504409090
18.0     9506919000
19.0     9506919000
20.0     9506919000
21.0     4421999999
22.0     8304000000
23.0     8308900090
24.0     8304000000
25.0     4420101900
26.0     5607909090
27.0     3924900090
28.0     3924900090
29.0     3924900090
30.0     3924900090
            ...
171.0    9609909000
172.0    9609909000
173.0    8471800000
174.0    8471800000
175.0    8471800000
176.0    8471800000
177.0    8471800000
178.0    8471709800
179.0    8471709800
180.0    8471709800
181.0    8471709800
182.0    9021109000
183.0    9021109000
184.0    9021109000
185.0    9021109000
186.0    9021109000
187.0    9021109000
188.0    9021109000
189.0    9021109000
190.0    9021109000
191.0    9506919000
192.0    9021109000
193.0    9021109000
194.0    9021109000
195.0    9021109000
196.0    9021109000
197.0    9021109000
198.0    9021109000
199.0    9021109000
200.0    9021109000
Name: HS CODE, Length: 200, dtype: category
Categories (52, object): [3910000090, 3919908099, 3924900090, 3925908000, ..., 9405409990, 9505900000, 9506919000, 9609909000]

In [72]:
df['MARKS & NO'].astype('category')

序号
1.0      15C7DLL1MU000001
2.0                   NaN
3.0                   NaN
4.0      15C7DLL1MU000002
5.0                   NaN
6.0                   NaN
7.0      15C7GLYG3U000001
8.0                   NaN
9.0                   NaN
10.0     15C7GLYG3U000002
11.0     15C7GLYG3U000003
12.0     15C7JSGN4U000001
13.0     15C7JSGN4U000002
14.0     15C7538K5U000001
15.0     15C7538K5U000002
16.0     15C7GRWJXU000001
17.0     15C7GRWJXU000002
18.0     15C7JK627U000001
19.0     15C7JK627U000002
20.0     15C7JK627U000003
21.0        15C6R61HGU001
22.0                  NaN
23.0        15C6R61HGU002
24.0                  NaN
25.0                  NaN
26.0     15C7JLQMFU000001
27.0     15C755CY8U000001
28.0     15C755CY8U000002
29.0     15C755CY8U000003
30.0     15C755CY8U000004
               ...
171.0    15C7B2Q77U000004
172.0    15C7B2Q77U000005
173.0    15C7BWDBYU000001
174.0    15C7BWDBYU000002
175.0    15C7BWDBYU000003
176.0    15C7BWDBYU000004
177.0    15C7BWDBYU000005
178.0    15C7BWDBYU000012
179.0    15C7BWDBYU000013
180.0    15C7BWDBYU000014
181.0    15C7BWDBYU000015
182.0    15C6L62MGU000001
183.0    15C6L62MGU000002
184.0    15C6L62MGU000003
185.0    15C6L62MGU000004
186.0    15C7FXVFXU000001
187.0    15C7FXVFXU000002
188.0    15C7FXVFXU000003
189.0    15C7FXVFXU000004
190.0    15C7FXVFXU000005
191.0    15C7FXVFXU000006
192.0    15C74ZDLGU000001
193.0    15C74ZDLGU000002
194.0    15C74ZDLGU000003
195.0    15C74ZDLGU000004
196.0    15C74ZDLGU000005
197.0    15C74ZDLGU000006
198.0    15C74ZDLGU000007
199.0    15C74ZDLGU000008
200.0    15C74ZDLGU000009
Name: MARKS & NO, Length: 200, dtype: category
Categories (164, object): [15C69S72WU000001, 15C69S72WU000002, 15C69S72WU000003, 15C69S72WU000004, ..., 15C7K8FYPU000004, 15C7KCZYCU000001, 15C7KCZYCU000002, 15C7KFW4WU000005]

# write back to worksheet, execute below code whenever necessary

In [71]:
sht1.range('A1').value = df

# clear worksheet content

In [70]:
sht1.clear_contents()